@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff900e;
}

body {
  width: 100%;
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.btn {
  padding: 16px 28px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
}

/* Header */
header {
  background-color: rgba(255, 144, 14, 10%);
}
.container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/* Navbar */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.brand-logo {
  color: rgb(19, 19, 19);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: center;
}
.brand-logo > a {
  color: black;
}
.navbar {
  display: flex;
  gap: 50px;
}
.nav-item > a {
  color: black;
}
.header-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.content {
  text-align: center;
}
.content > h1 {
  color: rgb(19, 19, 19);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  margin-bottom: 15px;
}
.header-content > img {
  object-fit: cover;
  width: 868px;
  border-radius: 8px;
  margin: 25px 0;
}
.btn-explore {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
}
