@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff900e;
}

body {
  width: 100%;
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
p {
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.btn {
  padding: 16px 28px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
}

/* Header */
header {
  background-color: rgba(255, 144, 14, 10%);
}
.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/* Navbar */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.brand-logo {
  color: rgb(19, 19, 19);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: center;
}
.brand-logo > a {
  color: black;
}
.navbar {
  display: flex;
  gap: 50px;
}
.nav-item > a {
  color: black;
}
.header-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.content {
  text-align: center;
}
.content > h1 {
  color: rgb(19, 19, 19);
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  margin-bottom: 15px;
}
.header-content > img {
  object-fit: cover;
  width: 868px;
  border-radius: 8px;
  margin: 25px 0;
}
.btn-explore {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
}
/* Main */
.features {
  margin: 50px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.img-grid > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.feature-content {
  width: 50%;
}
.feature-content > h1 {
  font-weight: 500;
  color: gray;
}
.feature-content p {
  margin: 10px 0;
}
.feature-content .text-bold {
  font-weight: 600;
  color: black;
}
.feature-content .text-primary {
  font-weight: 600;
  color: var(--primary-color);
}
/* WOW feature */
.wow-feature {
  margin: 50px 0;
  display: flex;
  gap: 30px;
}
.love-content {
  width: 568px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.love-content > h1 {
  border-left: 3px solid var(--primary-color);
  padding-left: 15px;
}
.feature-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature-card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaaaaa;
}
.experience-arch-img {
  flex: 6;
  position: relative;
}
.experience-arch-img img {
  position: absolute;
  top: 0;
  right: 0;
  height: 90%;
  border-radius: 5px;
}
.experience-card {
  padding: 20px 40px;
  color: white;
  background-color: var(--primary-color);
  position: absolute;
  left: 20px;
  bottom: 20px;
}
